<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  


  <appSettings>
    <add key="PATH_FIRST_PAGE" value="C:\Temp\Demos\PDFSplitter\OutHotFolder\FirstPage\"/>
    <add key="PATH_ATT" value="C:\Temp\Demos\PDFSplitter\OutHotFolder\Attachments\"/>
    <add key="PATH_IN" value="C:\Temp\Demos\PDFSplitter\INHotFolder\"/>
    <add key="PATH_PRO" value="C:\Temp\Demos\PDFSplitter\Processing\"/>
    <add key="PATH_EXC" value="C:\Temp\Demos\PDFSplitter\Exceptions\"/>

	  <add key="DB_CONNECTION" value="INTELI8-DS\SQLEXPRESS;Database=Diners;User Id=sa;Password=ImageNow!;" />
  </appSettings>


<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="C:\Windows\Temp\ConsoleApplication\nlog-internal.log">
    <time type="FastUTC"/>
    <targets>
      <target name="file" xsi:type="File" fileName="C:\Temp\Demos\PDFSplitter\Logs\${shortdate}.log" layout="[${longdate}] [${uppercase:${level}}] [${logger}] ${message} ${exception:format=tostring}" concurrentWrites="false" keepFileOpen="false"/>
      <target name="console" xsi:type="ColoredConsole" layout="[${longdate}] [${uppercase:${level}}] [${logger:shortName=true}] ${message} ${exception:format=tostring}"/>
        <target name="database" type="Database" connectionString="Data Source=I8-DS\SQLEXPRESS;Initial Catalog=WebApiLog;Persist Security Info=True;User ID=sa;Password=ImageNow!;">
	        <commandText> insert into ExceptionLog ([TimeStamp],[Level],Logger, [Message], StackTrace) values (@TimeStamp, @Level, @Logger, @Message, @StackTrace); </commandText>
	        <parameter name="@TimeStamp" layout="${date}" />
	        <parameter name="@Level" layout="${level}" />
	        <parameter name="@Logger" layout="${logger}" />
	        <parameter name="@Message" layout="${message}" />
	        <parameter name="@StackTrace" layout="${stacktrace}" />
	        <dbProvider>System.Data.SqlClient</dbProvider>
        </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="console,file,database"/>
    </rules>
  </nlog>




</configuration>
